{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}View Booking{% endblock %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>

  <div id="user_preferences">
    <h1>Booking Details</h1>
    <div>
    Room: {{room.name}}<br/>
    Date: {{booking.datetime.strftime('%d/%m/%Y')}}<br/>
    Time: {{booking.datetime.strftime('%H:00')}}<br/>
    <br/>
    Duration = {{booking.duration}} hour(s)<br/>
    Occupancy = {{booking.occupancy}}<br/>
    Is Quiet = {{booking.is_quiet}}<br/>
    Has Computer = {{booking.has_pc}}<br/>
    Has Window = {{booking.has_window}}<br/>
    Has HDMI = {{booking.has_hdmi}}<br/>
    </div>
    <br/>
    <div>
    <a role="button" class="btn btn-primary btn-lg btn-block" href="{{url_for('home.checkin_booking', ref=booking.slot_group_ref, booking_id=booking.id)}}">Check in</a>
    <a role="button" class="btn btn-warning btn-lg btn-block" href="">Request more time</a>
    <a role="button" class="btn btn-danger btn-lg btn-block" href="{{url_for('home.delete_booking', ref=booking.slot_group_ref, booking_id=booking.id)}}">Cancel Booking</a>
    </div>

  </div>
</div>
{% endblock %}
